<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapseLang">
        Languages <span class="caret"></span>
      </a>
    </h4>
  </div>
  <div id="collapseLang" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
            <tr>
              <td>Language</td>
              <td>Spoken</td>
              <td>Writen</td>
            </tr>
          </thead>
          <tbody>
            <% u.languages.each do |lang| %>
              <tr>
                <td><%= lang.name %></td>
                <td><%= lang.spoken %></td>
                <td><%= lang.written %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
