<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapsePro">
        Professional Summary <span class="caret"></span>
      </a>
    </h4>
  </div>
  <div id="collapsePro" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr><td>Title</td><td><%= u.user_summary.title %></td></tr>
          <tr><td>Company</td><td><%= u.user_summary.company %></td></tr>
          <tr><td>Years of Experience</td><td><%= u.user_summary.exp %> years</td></tr>
          <tr><td>Highest Qualification</td><td><%= u.educations.first.title unless u.educations.blank? %></td></tr>
        </table>
      </div>
    </div>
  </div>
</div>
