<% page_heading "About Us" %>
<div class="container">
  <div class="text-center">
    <h1>About Us</h1>
  </div>
  
  <div class="col-xs-6 text-right">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p>
          <h3><strong><%= link_to 'Looi David', '/dlooi' %></strong></h3>
          <h4>Developer</h4>
        </p>
      </div>
      <div class="panel-body">
        <p>
          Gamer<br>
          Geek<br>
          Drunk<br>
        </p>
      </div>
    </div>
  </div>
    
  <div class="col-xs-6 text-left">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p>
          <h3><strong><%= link_to 'Seow Suet Ling', '/slseow' %></strong></h3>
          <h4>Product Owner</h4>
        </p>
      </div>
      <div class="panel-body">
        <p>
          Engineer<br>
          Scrum Master<br>
          Tester<br>
        </p>
      </div>
    </div>
  </div>
    
</div>
