<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapseSkill">
        Skills <span class="caret"></span>
      </a>
    </h4>
  </div>
  <div id="collapseSkill" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
            <tr><td>Skill</td><td>Proficiency</td></tr>
          </thead>
          <tbody>
            <% u.skill_categories.each do |sc| %>
              <tr><td colspan="2"><strong><%= sc.name %></strong></td></tr>
              <% u.skills.each do |s| %>
                <% if s.skill_category == sc %>
                  <tr>
                    <td><%= s.name %></td>
                    <td><%= s.level %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
