<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapseSkill">
        Skills <span class="caret"></span>
      </a>
    </h4>
  </div>
  <div id="collapseSkill" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover">
          <thead>
            <tr><td>Skill</td><td>Proficiency</td></tr>
          </thead>
          <tbody>
            <tr><td colspan="2">Programming Languages</td></tr>
            <tr><td>C</td><td>Expert</td></tr>
            <tr><td>C#</td><td>Advanced</td></tr>
            <tr><td>Delphi</td><td>Intermediate</td></tr>
            <tr><td colspan="2">Scripting Languages</td></tr>
            <tr><td>Perl</td><td>Advanced</td></tr>
            <tr><td>Ruby on Rails</td><td>Advanced</td></tr>
            <tr><td>Javascript</td><td>Advanced</td></tr>
            <tr><td>Coffeescript</td><td>Advanced</td></tr>
            <tr><td>SQL</td><td>Intermediate</td></tr>
            <tr><td colspan="2">SCM</td></tr>
            <tr><td>SVN</td><td>Expert</td></tr>
            <tr><td>Git</td><td>Advanced</td></tr>
            <tr><td colspan="2">Operating Systems</td></tr>
            <tr><td>Linux</td><td>Advanced</td></tr>
            <tr><td>Windows</td><td>Advanced</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
