<div class="container">
  <!-- If you would like to customize the button, remove or change the "class" attribute inside the <span> tag -->
  <span class="gloriafood-button" id="gloriafood-order-online">See MENU & Order</span>
  <script src="https://www.gloriafood.com/widget/js/ewm.js?uid=d8a2e94f-5849-4fdc-b2f0-c712f6a3fe7d&eid=gloriafood-order-online"></script>
</div>