<% page_heading "2048" %>
<div class="container">
  <div class="container">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <h1><strong>2048</strong></h1>
      </div>
      <div class="col-xs-6">
        <div id="score" class="score-text">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-xs-12">
      <div class="col-xs-8">
        <h4>Join the numbers to get to 2048!</h4>
      </div>
      <div class="btn-group col-xs-4">
        <div class="pull-right">
          <button type="button" class="btn btn-primary" id="btnPlay">
            <span class="glyphicon glyphicon-play"></span> Reset
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-xs-6">
      <div id="gameDiv">
        <table class="table table-bordered">
          <tbody>
          <% (0..3).each do |row| %>
            <tr>
              <% (0..3).each do |col| %>
                <td id="t<%= "#{row}#{col}" %>"></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" id="btnLeft">
            <span class="glyphicon glyphicon-arrow-left"></span> Left
          </button>
          <button type="button" class="btn btn-primary" id="btnUp">
            <span class="glyphicon glyphicon-arrow-up"></span> Up
          </button>
          <button type="button" class="btn btn-primary" id="btnDown">
            <span class="glyphicon glyphicon-arrow-down"></span> Down
          </button>
          <button type="button" class="btn btn-primary" id="btnRight">
            <span class="glyphicon glyphicon-arrow-right"></span> Right
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="status" class="status-text">
      <p id="gameOver"></p>
      <p id="gameWin"></p>
      <p id="gameLose"></p>
    </div>
  </div>
  <div class="container">
    <p><strong>How to play:</strong> Use arrow key or wasd to move the tiles.</p>
    <p><strong>If you dont have a keyboard:</strong> Clicky the buttons above.</p>
    <p><small>c : cheat</small></p>
  </div>
</div>
<%= javascript_include_tag "games/2048" %>
<%= stylesheet_link_tag    "2048" %>
