<% page_heading "Game of Life" %>
<div class="container">
<h1>Game of Life</h1>
  <div id="golDiv">
    <canvas id="golCanvas" width="250" height="250"></canvas>
  </div>
  <div>
    <p id="aaa"></p>
  </div>
</div>
<%= javascript_include_tag "games/gol" %>
<%= stylesheet_link_tag    "gol" %>
