<% page_heading "Words" %>
<div class="container">

  <%= render partial: 'one_word_with_definition', locals: {panel_title: "Word of the Day", word: @wotd["word"], definitions: @wotd["definitions"]} %>

  <%= render partial: 'one_word_with_definition', locals: {panel_title: "Random Word", word: @random["word"], definitions: @random_definitions} %>

</div>
